/* div{
    height: 400px;
    width: 400px;
    border: 1px solid black;
} */

/* div{
    height: 25%;
    width: 50%;
    border: 1px solid black;
}

body{
    border: 1px solid black;
    height: 400px;
} */

/* .outer{
    height: 50vh;
    width: 50vw;
    border: 10px solid brown;
}

#inner{
    height: 50%;
    width: 50%;
    border: 1px solid black;
} */