#dabba{
    border: 5px solid black;
    height: 300px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
}

/* #photo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    margin: auto;
    margin-top: 30px;
    background-image: url("https://images.unsplash.com/photo-1547701787-1ad8f348080a?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHBvdHJhaXR8ZW58MHx8MHx8fDA%3D");
} */
.text{
    text-align: center;
}


#photo{
    margin: auto;
    /* border: 1px solid black; */
    width: 50%;
}