.box{
    /* display: inline; */
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

.box2{
    /* display: block; */
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

#dabba{
    height: 200px;
    width: 200px;
    border: 1px solid gold;
    display: none;
    /* visibility: hidden; */
}