#grid{
    /* height: 350px;
    width: 350px; */
    border: 1px solid black;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    /* overflow: scroll; */
}
.children{
    /* height: 100px;
    width: 100px; */
    border: 1px solid green;
}


#special{
    grid-column: 1/3;
    grid-row: 2/4;
    height: 50px;
    width: 50px;
}